.lr-carousel

  &__frame
    position: relative
    font-size: 0
    line-height: 0
    overflow: hidden
    white-space: nowrap

  &__slides
    display: inline-block

  &__slide
    position: relative
    display: inline-block
    // width: 50vw
