.stories-carousel

  &__item-13
    max-height: 160px

  &__carousel
    width: 100%

  &__header-inline-part
    display: inline-block
    width: 50%

  &__show-all-link .svg-play
    padding-bottom: 2px
    padding-right: 4px

  &__slide
    position: relative
    padding-right: 15px
    width: 26% !important
    max-width: 64px
    max-height: 160px
    text-decoration: none
    &:last-child::after
      background: none

    &::after
      content: ''
      display: block
      height: 100%
      width: 100%
      position: absolute
      z-index: 1
      left: 0
      bottom: 0

  &__media-image
    max-width: 100%
    min-width: 100%
    img
      min-width: 100%