.stories-carousel
  min-height: 160px

  &__carousel
    width: 100%

  &__media-image
    max-width: 100%
    min-width: 100%
    img
      min-width: 100%

  &__item
    position: relative
    padding-right: 15px
    width: 26%!important
    max-width: 64px
    max-height: 200px
    text-decoration: none